<!DOCTYPE html>
<html lang="en"  ng-app='inter'>
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=1280">
		<title>Polimi 150 - internazionalizzazione</title>
		<link rel="stylesheet" href="internaz.css">
		<script src="js/jquery-1.10.2.min.js"></script>
	    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
	    <script src="js/d3.v3.min.js"></script>
	    <script src="jquery.ui.touch-punch.js"></script>
		<script src="angular.min.js"></script>
		<script src="angular-sanitize.min.js"></script>
		<script src="zoneCtrl.js"></script>

	</head>
	<body ng-controller="zoneCtrl">
		<div id="side">
			<div id="top-side">
				<img width="100" src="press.png"/>
				<span class="upper">{{translate[language].titolo}}</span>
			<input auto-complete ui-items="keys" ng-model="selected">
			<div class="clear"></div>
			<div  ng-bind="key" id="term">{{key}}</div><div  ng-click="resetKey()" ng-hide="key ==''" id="delterm">X</div>
			</div>
			
			<div class="clear"></div>
			
			<div id="list">
			
			  <ul class="continents">
		        <li ng-repeat="(ind, entity) in zones">

		          <span draggable class="entity sel-{{entity.sel}}">{{translate[language][entity.label].toLowerCase()}}</span><div class="circ {{entity.name}}"></div>
		          <!--ng-mousedown="addContinent(zone)"-->
		          	<ul class="countries">
		        		<li ng-repeat="relevant in rele[ind]">
		        			<div ng-click="addKey(relevant)" class="school">{{relevant}}</div>
		        			<!--ng-mousedown="addCountry(country)"-->
		        		</li>
		        	</ul>
		        </li>
		      </ul>
			</div>
		</div>
		<div id="main" bin>
			<div id="info-pan">
				<div id="info" onclick="infoSlide()">
					i
				</div>
				<div ng-bind-html="info[language]"></div>
			</div>
			<div id="top">
				
				<div id="lang">
					<em ng-click="setLanguage('it')" ng-class="{sel:language=='it'}">it</em>
					<em ng-click="setLanguage('en')" ng-class="{sel:language=='en'}">en</em>
				</div>
			</div>
			<div timeline></div>
			<div id="drop" droppable>
			</div>
			<div id="del" >
				<img id="cross" src="cross.png"/>
			</div>		
			</div>
		<script>

		$('#main').droppable(
		{
		   accept:'.token'
		});

		var infoSlide=function() {
			console.log($("#info-pan").css("left"))
			if($("#info-pan").css("left")=="-460px"){
			$("#info-pan").css("left","300px");
			$("#info").addClass("sel");
		}
			else if($("#info-pan").css("left")=="300px") {
				$("#info-pan").css("left","-460px");
				$("#info").removeClass("sel");
			}
		}
		</script>
		 	<!--<script type="text/javascript" src="cordova.js"></script>-->
	        <script type="text/javascript" src="js/index.js"></script>
	        <script type="text/javascript">
	            
	            document.addEventListener("deviceready", onDeviceReady, false);

			    function onDeviceReady() {
			    	window.osc = new OSCSender('192.168.173.1',12000);
			    }
			    
			    function ok() {
			    	//alert("sent")

			    }
			    function ko() {
			
			        alert('ko');
			    }

			   	function SortByName(a, b){
				  return ((a < b) ? -1 : ((a> b) ? 1 : 0));
				}
	            
	        </script>
	</body>
</html>